@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  /* color: #AEB8FE; */
  /* background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
    
   
 
}
body {
  overflow-x: hidden;
}
/********NAVBAR**********/
.navbar {
  padding: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
 background-color:#3c3aaa;
 /* background-color:#4d3da8; */
  height: 70px;
}

.orangeText{
  color: #FF8600;
  font-weight: bold;
  font-size: 3em;
}
.orangeTextSmall{
  color: #FF8600;
  font-weight: bold;
  font-size: 2em;
}

.navbar h2 {
  color: #27187E;
}
.navbar .links {
  margin-left: auto;
 
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:rgb(216, 212, 212);
  font-weight: bold;
}
.navbar a:hover {
  color: #FF8600;
  border-bottom: 3px solid #FF8600;
    text-shadow: 2px 2px black;
}
.navbar .active{
  color: #FF8600;
  border-bottom: 3px solid #FF8600;
    text-shadow: 2px 2px black;
}

.footer{
    background-color: #27187E;
}


/********END OF NAVBAR**********/
/* .content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */

.banner1{
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
 }
 h1{
   
  padding-top: 15px;
  text-align: center;
  color: #758BFD;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  /* margin: 50px auto; */
  text-shadow: 2px 2px black;
}

.importantLink
{
  color: "white";
  background-color: "#f1356d";
  border-radius: "8px";
}

.imageLogo
{
  width: 150px;
  height: auto;
  vertical-align: top;
  position:absolute;
  left:15px;
  top:2px;

}

.home{
  
   background-color:#758BFD;
    height: 100%;
        width: 100%;
    position: relative;
 
}
.homeMiddle
{
    background-color:white;
     background-image: url('./images/circle.png');
     background-position: center;
    height: 100%;
    position: relative;
     background-size: cover;
}
.darkSection{
  background-color:#AEB8FE;
  
   height: 100%;
    width: 100%;
   position: relative;
       
   
}

.darkBlueSection {
  background-color: #27187E;

  height: 100%;
  position: relative;


}
.darkBlueText{
  color:#27187E;
  
}
.whiteText{
  color:white;
}

.boldText{
  font-weight: bold;
}


/***IMAGES***/


#avatarAshok{
  border-radius: 50%;
  width: 250px;
  height: 250px;
 background-image: url('./images/ashok-picture.jpg');
 background-size: cover;
 display: inline-block;
 margin-left: 11%;
 text-align: center;
}
#avatarJacky {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url('./images/jacky.jpg');
  background-size: cover;
  display: inline-block;
  margin-left: 11%;
  text-align: center;
}
#avatarAndre {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url('./images/andre.jpg');
  background-size: cover;
  display: inline-block;
  margin-left: 11%;
  text-align: center;
}

figure {
  display: inline-block;
  padding-left: 9%;
 
}

figcaption {
  text-align: center;
   display: block;
   padding-left: 17%;
 
   
}

/**********ANIMATIONS************/

@keyframes fish {

 


     0% {
       /* margin-left:99%; */
       left: 99%;
        /* transform: translateX(0px); */
      transform: rotate(0deg);
     }
     30%{
       transform: rotate(-10deg);
     }

     50% {
       transform: rotate(10deg);
     }

     70% {
       
       transform: rotate(-10deg);
     }

     90% {
       transform: rotate(10deg);
     }
     100% {
       /* margin-left: -20%; */
       left: -20%;
        /* transform: translateX(100vw); */
       transform: rotate(10deg) ; 
      
     }

}
.container{
    position: relative;
    max-width: 100vh;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.fishanim {
  animation-name: fish ;
  animation-duration: 15s;
    animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  overflow: hidden;
  
}



#fish1{
   position:absolute;
   top: 75%;
}

#sword{
  animation-direction:reverse;
  position:absolute;
  top: 65%;
    /* transform: scaleX(-1); */
  
}



@keyframes up {
  

  100% {
    transform: translateY(-2000px);
  }
}


.bubbles {
  position: absolute;
  bottom: 0;
  z-index: 5;
  margin-right: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: .50;
  width: 40px;
  height: 40px;
  animation: up 4s infinite;
}

.bubble-2 {
  left: 50%;
  animation: up 4s infinite;
}

.bubble-3 {
  left: 30%;
  opacity: .30;
  animation: up 5s infinite;
}

.bubble-4 {
  left: 80%;
  animation: up 5s infinite;
}

.bubble-5 {
  left: 90%;
  animation: up 5s infinite;
}

.bubble-6 {
  left: 10%;
  opacity: .30;
  animation: up 3s infinite;
}

.bubble-7 {
  left: 60%;
  animation: up 4s infinite;
}

.bubble-8 {
  left: 70%;
  opacity: .30;
  animation: up 3s infinite;
}



/**************BACK TO TOP BUTTON***********************/

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background-color:#FF8600;
  color: white;

  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  box-shadow: 0 5px 10px #ccc;

}

.back-to-top:hover {
  background: #27187E;
}

.arrowimg{
   position: fixed;
   bottom: 20px;
   right: 20px;
     height: 50px;
     width: 50px;
}



.table{
   margin-left: auto;
   margin-right: auto;
}

.customA a:link {
  color: #FF8600;
}
.customA a:hover {
  color: #FF8600;
}
.customA a:visited {
  color: #FF8600;
}


.aquarium{
  padding-left: 2%;
  width: 100%;
  z-index: 1;
  position: relative;

  height: 800px;
}
.alert {
  width:40%;    
}
.list{
    width: 100%;
     max-height: 350px;
     margin-bottom: 10px;
     overflow-y:auto;
     -webkit-overflow-scrolling: touch;
}
.listImg{
  /* float: left; */
  margin-right: 15px;
}
.listBtn {
  /* float: left; */
  margin-right: 4%;
  float: right;
  overflow: hidden;
  border-top: 1em solid transparent;
}

.center{
  /* display: "flex";
  /* height: 100vh; */
  /* justify-content: center;
  align-items: center; */ 
  margin-left: 2%;
}

.pagination{
  display: "flex";
  justify-content: center;
  align-items: center;
}
/**************FOOTER**********/
.footerColor{
  background-color:#3c3aaa

}
.footerColor a{
 color: rgb(216, 212, 212);
 font-weight: bold;
}

.footerColor a:hover{
 color: #FF8600;
}

.searchCenter{
  text-align: center;
}

input{
  width: 30%;
}
button{
  background-color:white;
}

.externalLinks{
  font-size: x-large;
}

.aquariumCols{
  column-count: 2;
  
}

.listStyle{

  padding-right: 5%;
  /* display:inline-block; */
}
.searchAquarium{
  text-align: center;
 padding-left: 5%;
}

.inlineblock{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.sizeCarou{
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.fishProfileImage
{
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Aquarium Fish Images and Animations  */

.aquariumFish{
  position :absolute; 
 top: 5%;
  left: 9%;
  width: 10%;
  /* height: 2%; */
  z-index: 2;
}

.aquariumFishMiddle{
  position :absolute; 
 top: 50%;
  left: 7%;
  width: 10%;
  /* height: 2%; */
  z-index: 2;
}

.aquariumFishBottom{
  position :absolute; 
 top: 75%;
  left: 7%;
  width: 10%;
  /* height: 2%; */
  z-index: 2;
}

.aquaDiv{
  position: relative;
  left: 0;
  top: 0;
}

:root{
  --animation-delay: -2s ;
}

@keyframes aquariumFishSmall {

     0% {
       /* margin-left:99%; */
       left: 85%;
        /* transform: translateX(0px); */
      transform: rotate(10deg);
     }
     30%{
       transform: rotate(-10deg);
     }

      49% {
       transform: rotate(10deg);
     }

     50% {
        left: 5%;
       transform: rotate(10deg);
       transform:rotateY(180deg);
     
     }
     60%{
       transform: rotate(-10deg);
       transform:rotateY(180deg);
     }

     70% {
       transform: rotate(10deg);
       transform:rotateY(180deg);
     }

     90% {
       transform: rotate(-10deg);
       transform:rotateY(180deg);
     }
      99% {
 
       transform:rotateY(180deg);
     }
     100% {
   
         left: 85%;
         transform:rotateY(180deg);
       transform: rotate(10deg) ; 
     }
}

@keyframes aquariumFishMedium {

     0% {
       /* margin-left:99%; */
       left: 80%;
        /* transform: translateX(0px); */
      transform: rotate(10deg);
     }
     30%{
       transform: rotate(-10deg);
     }

      49% {
       transform: rotate(10deg);
     }

     50% {
        left: 5%;
       transform: rotate(10deg);
       transform:rotateY(180deg);
     
     }
     60%{
       transform: rotate(-10deg);
       transform:rotateY(180deg);
     }

     70% {
       transform: rotate(10deg);
       transform:rotateY(180deg);
     }

     90% {
       transform: rotate(-10deg);
       transform:rotateY(180deg);
     }
      99% {
 
       transform:rotateY(180deg);
     }
     100% {
   
         left: 80%;
         transform:rotateY(180deg);
       transform: rotate(10deg) ; 
     }
}

@keyframes aquariumFishLarge {

     0% {
       /* margin-left:99%; */
       left: 52%;
        /* transform: translateX(0px); */
      transform: rotate(10deg);
     }
     30%{
       transform: rotate(-10deg);
     }

      49% {
       transform: rotate(10deg);
     }

     50% {
        left: 5%;
       transform: rotate(10deg);
       transform:rotateY(180deg);
     
     }
     60%{
       transform: rotate(-10deg);
       transform:rotateY(180deg);
     }

     70% {
       transform: rotate(10deg);
       transform:rotateY(180deg);
     }

     90% {
       transform: rotate(-10deg);
       transform:rotateY(180deg);
     }
      99% {
 
       transform:rotateY(180deg);
     }
     100% {
   
         left: 52%;
         transform:rotateY(180deg);
       transform: rotate(10deg) ; 
     }
}

@keyframes aquariumFishXLarge {

     0% {
 
      left: 20%;
      top: 30%;
      /* bottom:50%; */
      transform: rotate(10deg);
     }
     30%{
       transform: rotate(-10deg);
     }

     50% {
      top: 25%;
       transform: rotate(10deg);
 
     
     }
     60%{
       transform: rotate(-10deg);
  
     }

     70% {
       transform: rotate(10deg);

     }

     90% {
       transform: rotate(-10deg);

     }
     
     100% {
        left: 20%;
      top: 30%;
      /* bottom:50%; */
       transform: rotate(10deg) ; 
     }
}

/******************************************/
.fishAnimAquariumSmall {
  animation-name: aquariumFishSmall;
  animation-delay: var(--animation-delay);
  animation-duration: 30s;
    animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  overflow: hidden;
  
}
.fishAnimAquariumMedium {
  animation-name: aquariumFishMedium;
  animation-delay: var(--animation-delay);
  animation-duration: 30s;
    animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  overflow: hidden;
  
}
.fishAnimAquariumLarge {
  animation-name: aquariumFishLarge;
  animation-delay: var(--animation-delay);
  animation-duration: 30s;
    animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  overflow: hidden;
  
}
.fishAnimAquariumXLarge {
  animation-name: aquariumFishXLarge;
  animation-delay: var(--animation-delay);
  animation-duration: 30s;
    animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  overflow: hidden;
  
}
.capacityBar
{
  margin-left:2%;
}
/*AQUARIUM BUBBLES*/
@keyframes aquariumUp {
  

  100% {
    bottom: 99%;
    /* transform: translateY(90%); */
  }
}


.aquariumBubbles {
  position: absolute;
  bottom: 0;
  z-index: 5;
  margin-right: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: .50;
  /* width: 1%;
  height: 1.5%; */
  width: 15px;
  height: 15px;
  animation: aquariumUp 8s infinite;
}

.aquariumBubble-2 {
  left: 50%;
  animation: aquariumUp 6s infinite;
}

.aquariumBubble-3 {
  left: 30%;
  opacity: .30;
  animation: aquariumUp 9s infinite;
}

.aquariumBubble-4 {
  left: 80%;
  animation: aquariumUp 5s infinite;
}

.aquariumBubble-5 {
  left: 90%;
  animation: aquariumUp 7s infinite;
}

.aquariumBubble-6 {
  left: 10%;
  opacity: .30;
  animation: aquariumUp 6s infinite;
}

.aquariumBubble-7 {
  left: 60%;
  animation: aquariumUp 8s infinite;
}

.aquariumBubble-8 {
  left: 70%;
  opacity: .30;
  animation: aquariumUp 6s infinite;
}

